FORTYGUARD_API_KEY=c85b07720ba4f83da6f98029e0ee666a
FORTYGUARD_BASE_URL=https://api.fortyguard.com
GEMINI_API_KEY=AQ.Ab8RN6KjM0GbTFg_T3GwlhG5DoTrz4PlHrdFS7vJypwI92pdBg
FRONTEND_ORIGIN=https://thermos-heat-intelligence-system-chi.vercel.app
